# **MÓDULO 20 - Projeto de Credit Score - Naive Bayes**

No módulo 17 vocês realizaram a primeira etapa do projeto de crédito de vocês.
Então fizeram o tratamendo dos dados, balancearam as classes, transformaram as variáveis categóricas e separam base de treino e teste.
Nessa aula aplicaremos o algoritmo de naive bayes a base de vocês afim de tentarmos trazer previsões do score de crédito.

**IMPORTANTE:** Não se esqueçam de ao enviar o código de vocês para os tutores, enviarem as bases, pois como cada um de vocês realizou as alterações de tratamento indidualmente o tutor precisa ter acesso aos seus dados individuais.

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score

Durante a aula nossa variável a ser prevista (churn) continha apenas 2 categorias, a base de vocês contém mais. O Naive Bayes pode ser aplicado para problemas de classificação com múltiplas classes da mesma forma que para problemas de classificação binária. O Naive Bayes é um algoritmo de classificação probabilístico que calcula a probabilidade de uma amostra pertencer a cada classe e seleciona a classe com a maior probabilidade como a previsão final.
Em resumo, o Naive Bayes pode ser aplicado da mesma maneira para problemas de classificação com múltiplas classes, e os mesmos princípios se aplicam em termos de treinamento, avaliação e aplicação do modelo.

# 1) Comece carregando as bases de treino (X e y) e teste (X e y).
Verifique se o número de linhas condiz, se as variáveis estão corretas sendo apenas a de score para y e as demais nas bases de X e por último, se Y está balanceada no teste.

In [8]:
x_test_credit_score = pd.read_csv('X_test_credit_score.csv')
y_test_credit_score = pd.read_csv('y_test_credit_score.csv')
x_train_credit_score = pd.read_csv('X_train_credit_score.csv')
y_train_credit_score = pd.read_csv('y_train_credit_score.csv')

In [9]:
x_train_credit_score

,Age,Gender,Income,Education,Marital Status,Number of Children,Home Ownership
0,36,0,90000.0,4,0,2,0
1,38,1,100000.0,4,1,0,0
2,32,1,85000.0,4,1,0,1
3,35,0,90000.0,2,0,1,0
4,29,0,27500.0,3,1,0,1
...,...,...,...,...,...,...,...
109,26,0,40000.0,0,1,0,1
110,36,0,85000.0,4,0,2,0
111,44,1,75000.0,4,1,0,0
112,50,1,162500.0,4,0,0,0
113,29,0,68000.0,2,0,2,0

In [10]:
y_train_credit_score

     Credit Score
0               1
1               1
2               1
3               1
4               2
..            ...
109             0
110             1
111             1
112             1
113             0

[114 rows x 1 columns]

# 2) Aplique o algoritmo de Naive Bayes aos dados de treinamento.

In [ ]:
#seu código aqui

# 3) Faça a avaliação do modelo com os dados de treinamento.
Traga a acurácia, recall e plote a matriz de confusão. Não se esqueça de avaliar com suas palavras o desempenho do modelo, interpretando as métricas.

Dica: Para calcularmos o recall em classificação multi classe precisamos usar o atributo macro:
recall = recall_score(y_train, y_pred_train, average='macro')

In [ ]:
#seu código aqui

# 4) Aplique o modelo aos dados de teste e realize a avaliação dos resultados, da mesma forma que fez acima. Não se esqueça de avaliar com as suas palavras e comparar o desempenho da base treino com a teste.

In [ ]:
#seu código aqui

# 5) Descreva com suas palavras o projeto desenvolvido nessa atividade e qual o nosso objetivo principal ao aplicarmos o algoritmo de naive bayes a base de crédito.
Utilize pelo menos 4 linhas.

Dica: Caso você ainda esteja tendo dificuldade em visualizar a aplicação dos projetos e objetivo, consulte seus tutores!